# Exercise: Level 1

##### Question 1 -

In [12]:
#Declaring an empty list
empty_list = []
print(empty_list)

[]

##### Question 2

In [13]:
#Declare a list with more than 5 items
more_than_5_items = ['kano', 'mango', 3, 4, 5, True, 7]
print(more_than_5_items)

['kano', 'mango', 3, 4, 5, True, 7]

##### Question 3

In [14]:
#Finding the length of my list
length = len(more_than_5_items)
print(length)

7

##### Question 4

In [16]:
#Get the first item, the middle item, and the last item of the list
first_item = more_than_5_items[0]
middle_item = more_than_5_items[3]
last_item = more_than_5_items[-1]

The first item of the list is: kano
The middle item of the list is: 4
The last item of the list is: 7

##### Question 5

In [18]:
# Declare a list called mixed_data_types
mixed_data_types = ["Abubakar", 25, 175, "Married", False]
print(mixed_data_types)

['Abubakar', 25, 175, 'Married', False]

##### Question 6

In [20]:
# Declare a list variable named it_companies
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]

##### Question 7

In [21]:
# Print the list using print()
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

##### Question 8

In [24]:
# Print the number of companies in the list
print(f'The number of companies in the list is: {len(it_companies)}')

The number of companies in the list is: 7

##### Question 9

In [25]:
# Print the first, middle, and last company
print(f'The first item of the list is: {first_item}')
print(f'The middle item of the list is: {middle_item}')
print(f'The last item of the list is: {last_item}')

The first item of the list is: kano
The middle item of the list is: 4
The last item of the list is: 7

##### Question 10

In [27]:
# Print the list after modifying one of the companies
it_companies[2] = "Dangote Group"
print(it_companies)

['Facebook', 'Google', 'Dangote Group', 'Apple', 'IBM', 'Oracle', 'Amazon']

##### Question 11

In [32]:
# Add an IT company to it_companies
it_companies.append("Intel")
print(it_companies)

['Facebook', 'Google', 'Dangote Group', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Nvidia', 'Nvidia', 'Nvidia', 'Intel', 'Intel']

##### Question 12

In [33]:
# Insert an IT company in the middle of the companies list
it_companies.insert(length // 2, "Cisco")

##### Question 13

In [34]:
# Change one of the it_companies names to uppercase (IBM excluded!)
for idx, company in enumerate(it_companies):
    if company != "IBM":
        it_companies[idx] = company.upper()
print(it_companies)

['FACEBOOK', 'GOOGLE', 'DANGOTE GROUP', 'CISCO', 'APPLE', 'IBM', 'ORACLE', 'AMAZON', 'NVIDIA', 'NVIDIA', 'NVIDIA', 'INTEL', 'INTEL']

##### Question 14

In [35]:
# Join the it_companies with a string '#; '
joined_companies = '#; '.join(it_companies)
print(joined_companies)

FACEBOOK#; GOOGLE#; DANGOTE GROUP#; CISCO#; APPLE#; IBM#; ORACLE#; AMAZON#; NVIDIA#; NVIDIA#; NVIDIA#; INTEL#; INTEL

##### Question 15

In [36]:
# Check if a certain company exists in the it_companies list
print("Google" in it_companies)

False

##### Question 16

In [37]:
# Sort the list using sort() method
it_companies.sort()
print(it_companies)

['AMAZON', 'APPLE', 'CISCO', 'DANGOTE GROUP', 'FACEBOOK', 'GOOGLE', 'IBM', 'INTEL', 'INTEL', 'NVIDIA', 'NVIDIA', 'NVIDIA', 'ORACLE']

##### Question 17

In [38]:
# Reverse the list in descending order using reverse() method
it_companies.reverse()
print(it_companies)

['ORACLE', 'NVIDIA', 'NVIDIA', 'NVIDIA', 'INTEL', 'INTEL', 'IBM', 'GOOGLE', 'FACEBOOK', 'DANGOTE GROUP', 'CISCO', 'APPLE', 'AMAZON']

##### Question 18

In [39]:
# Slice out the first 3 companies from the list
first_three = it_companies[:3]
print(it_companies)

['ORACLE', 'NVIDIA', 'NVIDIA', 'NVIDIA', 'INTEL', 'INTEL', 'IBM', 'GOOGLE', 'FACEBOOK', 'DANGOTE GROUP', 'CISCO', 'APPLE', 'AMAZON']

##### Question 19

In [40]:
# Slice out the last 3 companies from the list
last_three = it_companies[-3:]
print(it_companies)

['ORACLE', 'NVIDIA', 'NVIDIA', 'NVIDIA', 'INTEL', 'INTEL', 'IBM', 'GOOGLE', 'FACEBOOK', 'DANGOTE GROUP', 'CISCO', 'APPLE', 'AMAZON']

##### Question 20

In [42]:
# Slice out the middle IT company or companies from the list
middle_index = len(it_companies) // 2
middle_company = it_companies[middle_index] if length % 2 != 0 else [it_companies[middle_index - 1], it_companies[middle_index]]
print(it_companies)

['ORACLE', 'NVIDIA', 'NVIDIA', 'NVIDIA', 'INTEL', 'INTEL', 'IBM', 'GOOGLE', 'FACEBOOK', 'DANGOTE GROUP', 'CISCO', 'APPLE', 'AMAZON']

##### Question 21

In [43]:
# Remove the first IT company from the list
it_companies.pop(0)
print(it_companies)

['NVIDIA', 'NVIDIA', 'NVIDIA', 'INTEL', 'INTEL', 'IBM', 'GOOGLE', 'FACEBOOK', 'DANGOTE GROUP', 'CISCO', 'APPLE', 'AMAZON']

##### Question 22

In [44]:
# Remove the middle IT company or companies from the list
middle_index = len(it_companies) // 2
removed_item = it_companies.pop(middle_index)

print(it_companies)

['NVIDIA', 'NVIDIA', 'NVIDIA', 'INTEL', 'INTEL', 'IBM', 'FACEBOOK', 'DANGOTE GROUP', 'CISCO', 'APPLE', 'AMAZON']

##### Question 23

In [45]:
# Remove the last IT company from the list
it_companies.pop()
print(it_companies)

['NVIDIA', 'NVIDIA', 'NVIDIA', 'INTEL', 'INTEL', 'IBM', 'FACEBOOK', 'DANGOTE GROUP', 'CISCO', 'APPLE']

In [11]:






# Remove all IT companies from the list
it_companies.clear()

# Destroy the IT companies list
del it_companies

[]
['kano', 'mango', 3, 4, 5, True, 7]
7
The first item of the list is: kano
The middle item of the list is: 4
The last item of the list is: 7
['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
7
Facebook
Apple
Amazon
['Facebook', 'Google', 'Microsoft Corporation', 'Apple', 'IBM', 'Oracle', 'Amazon']
FACEBOOK#; GOOGLE#; MICROSOFT CORPORATION#; CISCO#; APPLE#; IBM#; ORACLE#; AMAZON#; INTEL
False